﻿<bug-view>
    <section>
        <h2>{bug.Name}</h2>
        <p>{bug.Description}</p>
        <p>
            <button each="{state in states}" onclick="{ onSetStateClicked }" class="state-{state.value} {selected: bug.State === state.value}">{state.name}</button>
        </p>
    </section>
    <script>
        var tag = this;
        tag.states = [{ name: "New", value: 1 }, { name: "In progress", value: 2 }, { name: "Done", value: 0 }];
        console.log("Bug view", tag.opts);

        tag.bug = tag.opts.bug;

        tag.on("update", function() {
            tag.bug = tag.opts.bug;
        });

        tag.onSetStateClicked = function (event) {
            console.log("set state", event);
            clientService.updateBugState(tag.bug.ProjectId, tag.bug.Id, event.item.state.value);
            tag.bug.State = event.item.state.value;
            tag.parent.parent.update();
        }
    </script>
</bug-view>