﻿<bug-tracker-app>
    
    <table style="width: 100%;">
        <tr>
            <td style="width: 25%;">
                <project-list on-project-clicked="{ onProjectSelected }"></project-list>
            </td>
            <td style="width: 75%;">
                <project-view if="{selectedProject}" project="{selectedProject}"></project-view>    
            </td>
        </tr>
    </table>
    
    <script>
        var tag = this;

        tag.onProjectSelected = function (project) {
            tag.selectedProject = project;
            tag.update();
        };
    </script>

</bug-tracker-app>