﻿<bug-list>
    <section>
        <h3>Bugs</h3>
        <ul if="{project.Bugs.length > 0}">
            <li each="{bug in project.Bugs}">
                <a onclick="{ onBugClicked }" class="bug-{bug.State}"><i class="fas fa-bug"></i>{bug.Name}</a>
            </li>
        </ul>
        <p if="{project.Bugs.length === 0}">
            There are no bugs on this project.
        </p>
    </section>
    <section>
        <h3>Add Bug</h3>
        <div class="form">
            <p>
                <label for="txtBugTitle">Bug Title</label>
                <input type="text" id="txtBugTitle" ref="txtBugTitle" />
            </p>
            <p>
                <label for="txtBugDescription">Description</label>
                <textarea id="txtBugDescription" ref="txtBugDescription"></textarea>
            </p>
            <p>
                <button onclick="{ onCreateBugClicked }">Create Bug</button>
            </p>
        </div>
    </section>
    <script>
        var tag = this;
        tag.project = tag.opts.project;

        tag.on("update", function() {
            tag.project = tag.opts.project;
        });

        tag.onBugClicked = function (event) {
            notifySelection(event.item.bug);
        };

        tag.onCreateBugClicked = function () {

            var txtBugTitle = $(tag.refs.txtBugTitle);
            var txtBugDescription = $(tag.refs.txtBugDescription);

            var bug = {};
            bug.Name = txtBugTitle.val();
            bug.Description = txtBugDescription.val();
            bug.ProjectId = tag.project.Id;
            bug.State = 1;
            bug.CreatedOn = (new Date()).toISOString();

            clientService.saveBug(bug);
        
            tag.project.Bugs.push(bug);

            tag.parent.parent.update();

            notifySelection(bug);

            txtBugTitle.val('');
            txtBugDescription.val('');
            txtBugTitle.focus();


        };

        function notifySelection(bug) {
            if (tag.opts.onBugClicked)
                tag.opts.onBugClicked(bug);
        }

    </script>
</bug-list>