﻿<project-list>
    
    <section>
        <h3>Projects</h3>
        <ul>
            <li each="{project in projects}">
                <a onclick="{ onProjectClicked }"><i class="fas {getProjectIcon(project)}"></i>{project.Name}</a>
            </li>
        </ul>
    </section>
    <section>
        <h3>Add Project</h3>
        <div class="form">
            <p>
                <label for="txtProjectName">Project Name</label>
                <input type="text" id="txtProjectName" ref="txtProjectName"/>
            </p>
            <p>
                <button onclick="{ onCreateProjectClicked }">Create Project</button>
            </p>
        </div>
    </section>
    <script>
        var tag = this;

        clientService.getProjects().done(function(projects) {
            tag.projects = projects;
            tag.update();
        });

        tag.getProjectIcon = function(project) {
            if (project.Bugs) {
                for (var i = 0; i < project.Bugs.length; i++) {
                    if (project.Bugs[i].State !== 0)
                        return "fa-times";
                }
            }
            return "fa-check";
        };

        tag.onProjectClicked = function (event) {
            notifySelection(event.item.project);
        };

        tag.onCreateProjectClicked = function () {

            var txtProjectName = $(tag.refs.txtProjectName);

            var project = { Name: txtProjectName.val(), Bugs: [] };
            tag.projects.push(project);

            clientService.saveProject(project);

            tag.update();

            notifySelection(project);

            txtProjectName.val('');
            txtProjectName.focus();
        };

        function notifySelection(project) {
            if (tag.opts.onProjectClicked)
                tag.opts.onProjectClicked(project);
        }

    </script>
</project-list>