﻿<project-view>
    <section>
        <h2>{project.Name}</h2>
        <table>
            <tr>
                <td style="width: 33.333%">
                    <bug-list project="{project}" on-bug-clicked="{ onBugSelected }"></bug-list>
                </td>
                <td style="width: 66.666%">
                    <bug-view if="{selectedBug}" bug="{selectedBug}"></bug-view>
                </td>
            </tr>
        </table>
    </section>
    <script>

        var tag = this;

        tag.project = tag.opts.project;

        tag.onBugSelected = function (bug) {
            console.log("bug selected", bug);
            tag.selectedBug = bug;
            tag.update();
        };

        tag.on("update",
            function() {
                tag.project = tag.opts.project;
            });




    </script>
</project-view>