﻿.form input[type=text], .form textarea {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px 2px 3px 5px;
  margin-top: 2px;
  font-family: "Roboto", "sans-serif"; }

html {
  font-family: "Roboto", "sans-serif";
  color: #333; }

body {
  font-family: "Roboto", "sans-serif";
  color: #333; }

a {
  cursor: pointer;
  color: #333; }
  a:visited {
    cursor: pointer;
    color: #333; }

h1 {
  text-align: center; }
  h1 em {
    text-decoration: none;
    color: #ffa500;
    font-style: normal; }

table {
  width: 100%; }

td {
  vertical-align: top;
  padding: 10px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 6px auto; }
  li i {
    margin-right: 5px;
    font-size: 12px;
    vertical-align: 1px; }
  li a {
    font-style: normal;
    text-decoration: none;
    padding: 5px 5px 5px 0; }

i.fa-check {
  color: #008000; }

i.fa-times {
  color: #f00; }

.char-b {
  color: #ffa500; }

section {
  padding: 20px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px; }
  section h2 {
    margin-top: 3px; }
  section h3 {
    margin-top: 3px; }

.form label {
  display: block; }

button {
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: "Roboto", "sans-serif"; }
  button.selected {
    border: 1px solid #000 !important; }
  button + button {
    margin-left: 10px; }
  button.state-0 {
    color: #fff;
    background: #008000;
    border: 1px solid #1f652e; }
  button.state-1 {
    color: #fff;
    background: #f00;
    border: 1px solid #ab5454; }
  button.state-2 {
    color: #fff;
    border: 1px solid #ca9090;
    background: #ffa500; }

.bug-0 i {
  color: #008000; }

.bug-1 i {
  color: #f00; }

.bug-2 i {
  color: #ffa500; }

