﻿$color_mine_shaft_approx: #333;
$web_orange: #ffa500;
$color_japanese_laurel_approx: #008000;
$red: #f00;
$black_5: rgba(0, 0, 0, 0.05);
$color_celeste_approx: #ccc;
$black_15: rgba(0, 0, 0, 0.15);
$black_20: rgba(0, 0, 0, 0.2);
$black: #000;
$white: #fff;
$color_green_pea_approx: #1f652e;
$color_matrix_approx: #ab5454;
$color_oriental_pink_approx: #ca9090;


$font_0: "Roboto";
$font_1: "sans-serif";
$font_2: "Roboto";
$font_3: "sans-serif";
$font_4: "Roboto";
$font_5: "sans-serif";


%extend_1 {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $color_celeste_approx;
    font-size: 16px;
    padding: 5px 2px 3px 5px;
    margin-top: 2px;
    font-family: $font_2, $font_3;
}


html {
    font-family: $font_0, $font_1;
    color: $color_mine_shaft_approx;
}

body {
    font-family: $font_0, $font_1;
    color: $color_mine_shaft_approx;
}

a {
    cursor: pointer;
    color: $color_mine_shaft_approx;

    &:visited {
        cursor: pointer;
        color: $color_mine_shaft_approx;
    }
}

h1 {
    text-align: center;

    em {
        text-decoration: none;
        color: $web_orange;
        font-style: normal;
    }
}

table {
    width: 100%;
}

td {
    vertical-align: top;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 6px auto;

    i {
        margin-right: 5px;
        font-size: 12px;
        vertical-align: 1px;
    }

    a {
        font-style: normal;
        text-decoration: none;
        padding: 5px 5px 5px 0;
    }
}

i {
    &.fa-check {
        color: $color_japanese_laurel_approx;
    }

    &.fa-times {
        color: $red;
    }
}

.char-b {
    color: $web_orange;
}

section {
    padding: 20px;
    margin: 20px auto;
    background: $black_5;
    border-radius: 5px;

    h2 {
        margin-top: 3px;
    }

    h3 {
        margin-top: 3px;
    }
}

.form {
    label {
        display: block;
    }

    input[type=text] {
        @extend %extend_1;
    }

    textarea {
        @extend %extend_1;
    }
}

button {
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid $black_15;
    cursor: pointer;
    background: $black_20;
    color: $color_mine_shaft_approx;
    font-family: $font_4, $font_5;

    &.selected {
        border: 1px solid $black !important;
    }

    + button {
        margin-left: 10px;
    }

    &.state-0 {
        color: $white;
        background: $color_japanese_laurel_approx;
        border: 1px solid $color_green_pea_approx;
    }

    &.state-1 {
        color: $white;
        background: $red;
        border: 1px solid $color_matrix_approx;
    }

    &.state-2 {
        color: $white;
        border: 1px solid $color_oriental_pink_approx;
        background: $web_orange;
    }
}

.bug-0 i {
    color: $color_japanese_laurel_approx;
}

.bug-1 i {
    color: $red;
}

.bug-2 i {
    color: $web_orange;
}
